/* Util Classes */
.btn-purple {
  color: #fff !important;
  background-color: #7952b3 !important;
  border-color: #7952b3 !important;
}

.text-purple {
  color: #7952b3 !important;
}

.box-width {
  width: 50%;
}

.home-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner {
  color: #7952b3;
}
/* Util Classes End */

.bg-nav {
  background-color: #7952b3;
}

.contact-wrap {
  display: flex;
  justify-content: space-between;
}

/* Tablet Screen */
@media (max-width: 768px) {
  .box-width {
    width: 70%;
  }
}

/* Mobile Screen */
@media (max-width: 576px) {
  .box-width {
    width: 90%;
  }
}
